#main-nav {
    display: flex;
    justify-content: end;
}

.nav-button {
    margin: 10px;
    padding: 20px;
}

.nav-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.136);

}